{% extends 'base.html.twig' %}

{% block title %}Registrierung{% endblock %}

{% block body %}
    <main class="wrapper">
        <div class="shadow-blur shadow-blur--rainbow shadow-blur--before">
            <div class="Wsa-Header admin-grid">
                {{ include('admin/menu.html.twig') }}
            </div>
            <div class="Wsa-Tableau">
                <div class="" style="padding: 0.75rem 1.25rem; border-radius: 1rem; border: 1px solid #000;">
                    {{ include('layout/flash_messages.html.twig') }}

                    <h1>Registrierung</h1>

                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.email) }}
                    <div class="mb-3">
                        <span id="captcha"><img src="{{ captcha }}" alt="Captcha-Bild"></span>
                        <span class="captcha-reload"
                              data-controller="registration"
                              data-action="click->registration#reload"
                              data-registration-url-param="{{ url('registration_reloadcaptcha') }}"
                        ><box-icon name='sync'></box-icon>
                        </span>
                        {{ form_row(registrationForm.captcha) }}
                    </div>

                    <button type="submit" class="btn btn-partei">Registrieren</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
