    <style>
      .shadow-blur::after {
        --gradient: var({{ '--wsa-gradient-dark' }}) !important;
      }
    </style>
    {{ include('layout/menu/uu.html.twig') }}
    <div class="Wsa-Tableau" >
        <div class="main-area">
            {{ include('snippets/loader.html.twig') }}

            <div class="states">
                {{ include('snippets/menu.html.twig') }}
                <div id="states">
                    <button class="menu-button">
                    <i data-lucide="menu" data-action="click->statistic-new#menu" id="mobileMenu"></i>
                    </button>
                    <ul class="uu-admin-menu">
                        {% for key, state in states %}
                            <li><button class="uu-admin-item menu-state" data-action="click->document#load" data-document-state-param="{{ state }}">{{ key }}</button></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="content Wsa-CardSlot" id="documents">
            </div>
        </div>
    </div>
