{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .shadow-blur::after {
            --gradient: var({{ '--wsa-gradient-dark' }}) !important;
        }
    </style>
    {% block content %}
        <main class="wrapper">
            <div class="shadow-blur shadow-blur--rainbow shadow-blur--before">
                {{ include('layout/menu/statistic.html.twig') }}
                <div class="Wsa-Tableau" data-controller="statistic-new" data-statistic-new-url-value="{{ path('app_new_statistic_statedata', {state: '---'}, false) }}">
                    <div class="main-area">
                        {{ include('snippets/loader.html.twig') }}
                        {% if states is empty %}
                            Keine Daten vorhanden
                        {% else %}
                            <div class="states">
                                <button class="menu-button">
                                    <i data-lucide="menu" data-action="click->statistic-new#menu" id="mobileMenu"></i>
                                </button>
                                <ul class="uu-admin-menu">
                                    {% for key, state in states %}
                                        <li><button class="uu-admin-item menu-state"  data-action="click->statistic-new#load" data-statistic-new-state-param="{{ state }}">{{ key }}</button></li>
                                    {% endfor %}
                                </ul>
                            </div>
                             <div class="content Wsa-CardSlot statistic-grid" id="statistic-grid">
                             </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </main>
    {% endblock %}
{% endblock %}
