{% extends '../../../../../../base.html.twig' %}

{% block body %}
    <div class="jumbotron justify-content-center">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ asset('images/684818a0-b289-4bab-95af-e2b330e6c92b.jpg') }}" class="img-fluid rounded-start" alt="an error occurred">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ 'error.head'|trans({}, 'error') }}</h5>
                    <p class="card-text">
                    <p>{{ 'error.first_paragraph'|trans({}, 'error') }}</p>
                        {{ 'error.second_paragraph'|trans({}, 'error') }}
                    <p class="card-text"><small class="text-muted">{{ 'error.third_paragraph'|trans({}, 'error') }}</small></p>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
